@import "../../variables";

.accordion {
  .accordion-item {
    border: none;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    box-shadow: 0 0 6px 1px #e1e1e1;

    .accordion-header {

      .accordion-button {
        border-radius: 0 !important;
        box-shadow: none;
        font-weight: bold;
        font-size: 1.2rem;
        color: #666666;

        &:not(.collapsed) {
          background-color: #fff;
          color: #000;
        }
      }
    }

    .accordion-collapse {

      .accordion-body {
        padding-top: 0;
      }
    }
  }
}
