@import "../../variables";

section {
  position: relative;

  .section-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #A67DB5;
    z-index: -2;
  }

  .top-round-shape {
    position: absolute;
    top: 0;
    left: 0;
    height: 75%;
    width: 100%;
    z-index: -1;
    background-color: $bgColor;
    border-bottom-left-radius: 30% 20%;
    border-bottom-right-radius: 70% 65%;
  }

  .contact-mat-icon-container {
    height: 40px;
    width: 40px;
    background-color: $accentColor;
    margin-right: 1rem;
    display: flex;
    border-radius: 50%;

    mat-icon {
      margin: auto;
      color: $primaryColor;
    }
  }

  a {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    color: $fontColor;
  }
}
