<section id="about" class="section-tb">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-12 col-lg-7 order-lg-1 align-self-center">
        <h2 class="pb-3 text-center text-lg-start">Welcome to my website</h2>
        <p class="text-center text-lg-start">My name is Brionna & I provide professional pet care services for cats,
          dogs, horses, farm animals, or any other animal you may have! I have been in the animal care industry for over
          a decade and have experience with a variety of breeds and species. <b>I am fully licensed, insured, and bonded.</b>
          All services are done in your home to ensure your pets are comfortable & less stressed. I strive to provide
          convenience & peace of mind when you are away from home. I look forward to meeting you & your wonderful pets!
        </p>
        <p class="text-center text-lg-start">My service area includes: <b>Roseville, Rocklin, Lincoln & Granite Bay</b> in
          Northern California.</p>
        <div class="d-flex">
          <a class="button mx-auto mx-lg-0 mt-3" href="#contact">contact me!</a>
        </div>
      </div>
      <div class="col-8 col-md-7 col-lg-4 order-lg-0 mt-5 mt-xl-4">
        <div class="about-img-container">
          <img class="image-shadow" src="assets/img/about_img.jpg" alt="Me and Maggie">
        </div>
      </div>
    </div>
  </div>
</section>
