<section class="section-tb">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-5">
        <div class="about-img-container">
          <img src="assets/img/sunnyspot-me-maggie.jpg" alt="Me and Maggie">
        </div>
      </div>
      <div class="col-6 align-self-center">
        <h2 class="pb-4">Welcome to my website</h2>
        <p>My name is Brionna & I provide professional pet care services for cats, dogs, horses, and any other animal
          you may have! I have been in the animal care industry for over a decade & I am fully Licensed and Insured. My
          services include pet sitting and nail trims. All services are done in your home so that your pets are
          comfortable & less stressed. It is also more convenient for you. No more shoving your cat in a carrier or
          loading your dogs in the car to drive to the salon for a nail trim. No more having to leave your pets in a
          boarding kennel. I come to you!</p>
        <p>My service area includes: Roseville, Rocklin, Lincoln & Granite Bay in Northern California.</p>
      </div>
    </div>
  </div>
</section>
