@import "src/styles";

.navbar {
  min-height: $navbarHeight;
  opacity: 0.85;
  //background-color: transparent;
  //transition-duration: 0.5s;

  &.solid{
    background-color: $lightPrimaryColor;
  }

  .navbar-brand {
    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }

  .navbar-toggler {
    color: $primaryColor;
    border: none;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .nav-item a {
    color: $fontColor;

    &:hover {
      font-weight: 700;
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    .navbar-brand {
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}
