@import "src/styles";

.navbar {
  background-color: $bgColor;
  height: $navbarHeight;

  .navbar-brand {
    img {
      height: 30px;
      width: 30px;
    }
  }

  .navbar-toggler {
    color: $accentColor;
    border: none;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .nav-item a {
    color: #000;
  }
}

@media (min-width: 992px) {
  .navbar {
    .navbar-brand {
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}
