@import "src/styles";

nav#navbarThingy {
  min-height: $navbarHeight;
  background-color: transparent;
  transition-duration: 0.5s;

  &.solid {
    background-color: $lightPrimaryColor;
    opacity: 0.75;
  }

  &:hover, &:focus-within {
    opacity: 1;
  }

  &:focus-within {
    background-color: $lightPrimaryColor !important;
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    height: 60px;

    img {
      height: 100%;
      width: auto;
    }
  }

  .navbar-toggler {
    color: $primaryColor;
    border: none;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  .nav-item a {
    color: $fontColor;

    &:hover {
      font-weight: 700;
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    .navbar-brand {
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}
