.card {
  height: 100%;

  .card-img-top {
    height: 15rem;
    overflow: hidden;
    position: relative;

    img {
      height: auto;
      width: 100%;
      margin: auto;
      position: absolute;
      top: -50%;
      bottom: -50%;
      left: 0;
    }
  }

  .card-body {
    background-color: #fafafa;

    h4 {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
}
