<section class="section-tb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="text-center">
          <h2 class="pb-3">In-Home Pet Sitting</h2>
          <p class="pb-4">Daily care for your pets while you're at work or away. Your pets will get all the attention
            they need without leaving home. I will ensure that your furry family members are comfortable & safe. Having
            a stranger come into your home is a very personal/vulnerable experience. Needing to
            trust someone to care for your precious pets as well as your home. I promise to respect your home & care for
            your pets better than my own!</p>
        </div>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-12" *ngFor="let serviceModel of serviceModels; let even = even;">
        <div class="row g-5 justify-content-center">
          <div class="col-12 col-lg-8" [class.order-1]="even">
            <div class="text-center text-lg-start">
              <h4 class="fw-bold primary-color">{{serviceModel.title}}</h4>
              <h5 class="fw-bold accent-color">{{serviceModel.price}}</h5>
              <p *ngFor="let desc of serviceModel.description">{{ desc }}</p>
            </div>
          </div>
          <div class="col-3 d-none d-lg-block" [class.order-0]="even">
            <div class="icon-container">
              <img class="image-shadow" src="assets/img/{{serviceModel.image}}" alt="" [style.border-radius]="serviceModel.blob">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
