<section class="section-tb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center">Experience</h2>
        <p class="text-center pb-4">Here's a little information about me in a nutshell.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-9 col-md-7 col-lg-4" *ngFor="let data of experienceData">
        <div class="d-flex" *ngFor="let experience of data">
          <div class="experience-bullet-point"></div>
          <div>
            <p class="fw-bold title">{{ experience.title }}</p>
            <p class="tmb-0">{{ experience.subTitle }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="seals">
          <img class="seal" src="assets/img/pet-sitters-international.jpg" alt="Pet Sitters International Seal">
        </div>
      </div>
    </div>
  </div>
</section>
