@import "variables";
@import "mixins";

//-----------------------------------------
//                 Misc
//-----------------------------------------
html, body {
  height: 100%;
  //color: #fff;
}

body {
  margin: 0;
  font-family: $bodyFont;
  background-color: $bgColor;
  //background-color: rgba(#8a799c, .1);
}

h1, h2 {
  font-family: $headerFont;
  color: $primaryColor;
  //color: #6A2990;
}

h1 {
  font-size: min(9vw, 4.5rem);
}

h2 {
  font-size: min(6.5vw, 3rem);
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

h3, h4 {
  font-family: $accentFont;
}

//-----------------------------------------
//                 Colors
//-----------------------------------------

.primary-color {
  color: $primaryColor;
}

.accent-color {
  color: $accentColor;
}

//-----------------------------------------
//                 Sections
//-----------------------------------------
$sectionSizeSm: 3.5rem;
$sectionSizeReg: 5.5rem;

.section-t {
  padding-top: $sectionSizeSm;
}

.section-b {
  padding-bottom: $sectionSizeSm;
}

.section-tb {
  padding-top: $sectionSizeSm;
  padding-bottom: $sectionSizeSm;
}

@include media-breakpoint-up(lg) {
  .section-t {
    padding-top: $sectionSizeReg;
  }

  .section-b {
    padding-bottom: $sectionSizeReg;
  }

  .section-tb {
    padding-top: $sectionSizeReg;
    padding-bottom: $sectionSizeReg;
  }
}

//-----------------------------------------
//                 Buttons
//-----------------------------------------
.button {
  font-family: $bodyFont;
  background-color: $primaryColor;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 0.75rem 1.75rem;
  text-transform: uppercase;
  box-shadow: 2px 2px 7px 0 $primaryColor;
}

//-----------------------------------------
//                 Images
//-----------------------------------------
.image {
  box-shadow: 2px 2px 7px -2px $primaryColor;
}
