//-----------------------------------------
//                 Colors
//-----------------------------------------
//$purpleColor: #6A2990;
////$bgColor: #FFFBB2;
//$bgColor: #8a799c;
////$bgColor: #7e6b92;
//$pinkColor: #F6DFD9;
//$yellowColor: #FFFBB2;
$primaryColor: #6A2990;
$bgColor: #B796C3;
$accentColor: #FFFBB2;
$greyColor: #d9d9d9;
$fontColor: #171216;
$lightPrimaryColor: #EDE4F1;

//-----------------------------------------
//                 Fonts
//-----------------------------------------
$bodyFont: 'Montserrat', sans-serif;
$headerFont: 'Alegreya', serif;
$accentFont: 'Pompiere', cursive;

//-----------------------------------------
//                 Navbar
//-----------------------------------------
$navbarHeight: 3.5rem;
