//-----------------------------------------
//                 Colors
//-----------------------------------------
//$purpleColor: #6A2990;
////$bgColor: #FFFBB2;
//$bgColor: #8a799c;
////$bgColor: #7e6b92;
//$pinkColor: #F6DFD9;
//$yellowColor: #FFFBB2;
$primaryColor: #666666;
$bgColor: #fff;
$accentColor: #ddd;

$greyColor: #d9d9d9;

//-----------------------------------------
//                 Fonts
//-----------------------------------------
$bodyFont: 'Montserrat', sans-serif;
$headerFont: 'Alegreya', serif;
$accentFont: 'Pompiere', cursive;
