@import "src/variables";

section {
  height: calc(100vh - $navbarHeight);
  position: relative;

  //.bg-blob {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  height: 100%;
  //  width: 80%;
  //  background-color: #fff;
  //  z-index: -1000;
  //}

  .home-img-container {
    display: flex;

    .home-img {
      width: 80%;
      height: auto;
      margin: auto;
      overflow: hidden;
      border-top-left-radius: 35% 35%;
      border-top-right-radius: 65% 70%;
      border-bottom-right-radius: 70% 30%;
      border-bottom-left-radius: 30% 65%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
