@import "src/variables";

section {
  height: calc(100vh - $navbarHeight);
  position: relative;

  .bg-blob {
    position: absolute;
    content: '';
    top: -$navbarHeight;
    left: 0;
    height: 75%;
    width: 100%;
    background-color: #EDE4F1;
    z-index: -1;
    border-bottom-right-radius: 75% 90%;
    border-bottom-left-radius: 35% 20%;
  }

  .title-container {
    display: flex;
    height: 100%;

    .title {
      position: relative;
      margin: auto 0;

      h1 {
        letter-spacing: 2px;

        &:last-of-type {
          margin-left: 6.8rem;
        }
      }

      h3 {
        font-size: 3.1rem;
        text-align: center;
      }

      .paw-print1 {
        top: -6rem;
        left: 0;
      }

      button {
        margin-top: 3rem;
      }
    }
  }

  .home-img-container {
    display: flex;
    position: relative;

    .paw-print2 {
      bottom: 2.5rem;
      right: 0;
      transform: scaleX(-1);
    }

    .home-img {
      width: 80%;
      height: auto;
      margin: auto;
      overflow: hidden;
      border-top-left-radius: 35% 35%;
      border-top-right-radius: 65% 70%;
      border-bottom-right-radius: 70% 30%;
      border-bottom-left-radius: 30% 65%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}

.paw-print {
  position: absolute;
  content: url("../../assets/img/paw-prints-svgrepo-com.svg");
  height: auto;
  width: 6rem;
  filter: brightness(0) saturate(100%) invert(95%) sepia(6%) saturate(2798%) hue-rotate(324deg) brightness(103%) contrast(124%);
}
