<section>
  <div class="bg-blob"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-7 align-self-center">
        <div class="title">
          <h1>Sunny Spot Pet Sitting</h1>
          <h3>-Pets are Happier at Home-</h3>
        </div>
      </div>
      <div class="col-5">
        <div class="d-flex h-100">
          <div class="home-img-container">
            <div class="home-img">
              <img src="assets/img/sunnyspot-belle.jpg" alt="Belle">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-home-about></app-home-about>

<app-home-experience></app-home-experience>

<app-home-services></app-home-services>

<app-home-gallery></app-home-gallery>

<app-home-contact></app-home-contact>
