@import "src/variables";

section {
  height: calc(100vh - $navbarHeight);

  .home-img-container {
    position: relative;
    display: flex;

    .home-img-backdrop {
      position: absolute;
      top: 11%;
      left: 30px;
      z-index: -100;
      height: 73%;
      width: 100%;
      background-color: $accentColor;
      border-top-left-radius: 35% 35%;
      border-top-right-radius: 65% 55%;
      border-bottom-right-radius: 40% 45%;
      border-bottom-left-radius: 60% 65%;
    }

    .home-img {
      width: 80%;
      height: auto;
      margin: auto;
      overflow: hidden;
      border-top-left-radius: 35% 35%;
      border-top-right-radius: 65% 70%;
      border-bottom-right-radius: 70% 30%;
      border-bottom-left-radius: 30% 65%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }
}
