<section>
  <div class="bg-blob"></div>
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-7">
        <div class="title-container">
          <div class="title">
            <div class="paw-print paw-print1"></div>
            <h1>Sunny Spot</h1>
            <h1>Pet Sitting</h1>
            <h3>-Pets are Happier at Home-</h3>
            <button class="mx-auto">See my Services!</button>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="d-flex h-100">
          <div class="home-img-container">
            <div class="paw-print paw-print2"></div>
            <div class="home-img">
              <img src="assets/img/sunnyspot-belle.jpg" alt="Belle">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-home-about></app-home-about>

<app-home-experience></app-home-experience>

<app-home-services></app-home-services>

<app-home-gallery></app-home-gallery>
