.icon-card {
  .img-container{
    height: 7rem;
    padding: 1rem;
    display: flex;

    img {
      margin: auto;
      width: auto;
      height: 100%;
      filter: invert(40%) sepia(0%) saturate(5%) hue-rotate(165deg) brightness(94%) contrast(78%);
    }
  }
}

.img-container{
  height: 100%;

  img {
    width: 100%;
    height: auto;
    border-top-left-radius: 70% 40%;
    border-top-right-radius: 30% 70%;
    border-bottom-right-radius: 60% 30%;
    border-bottom-left-radius: 40% 60%;
  }
}
