<section class="section-tb">
  <div class="container">
    <div class="row g-5 justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="text-center text-lg-start">
          <h2>{{serviceModel.title}}</h2>
          <h5 class="fw-bold accent-color">{{ serviceModel.price }}</h5>
          <p *ngFor="let descr of serviceModel.description; let last = last;" [class.pb-4]="last">{{ descr }}</p>
        </div>
      </div>
      <div class="col-7 col-md-5 col-lg-4 col-xxl-3">
        <div class="img-container">
          <img class="image" [src]="serviceModel.image" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
